flows.json
[{"id":"5ae64b65.e5bff4","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"357fc07d.1a538","type":"ui_form","z":"5ae64b65.e5bff4","name":"","label":"","group":"1dcfd6d2.d67999","order":0,"width":0,"height":0,"options":[{"label":"Year\t","value":"a","type":"number","required":true,"rows":null},{"label":"Status","value":"b","type":"number","required":true,"rows":null},{"label":"Adult Mortality","value":"c","type":"number","required":true,"rows":null},{"label":"Infant deaths","value":"d","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"e","type":"number","required":true,"rows":null},{"label":"Percentage expenditure","value":"f","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"g","type":"number","required":true,"rows":null},{"label":"Measles ","value":"h","type":"number","required":true,"rows":null},{"label":" BMI ","value":"i","type":"number","required":true,"rows":null},{"label":"Under-five deaths ","value":"j","type":"number","required":true,"rows":null},{"label":"Polio","value":"k","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"l","type":"number","required":true,"rows":null},{"label":"Diphtheria ","value":"m","type":"number","required":true,"rows":null},{"label":" HIV/AIDS","value":"n","type":"number","required":true,"rows":null},{"label":"GDP","value":"o","type":"number","required":true,"rows":null},{"label":"Population","value":"p","type":"number","required":true,"rows":null},{"label":"Thinness 1-19 years\t","value":"q","type":"number","required":true,"rows":null},{"label":"Thinness 5-9 years\t","value":"r","type":"number","required":true,"rows":null},{"label":"Income ","value":"s","type":"number","required":true,"rows":null},{"label":"Schooling","value":"t","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":130,"y":160,"wires":[["e9be3794.c27b28"]]},{"id":"e9be3794.c27b28","type":"function","z":"5ae64b65.e5bff4","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\n\n\n\n\n//following are required to receive a token\nvar apikey=\"qygKkWQagZ9eCMs3RjhP7jRaSNV9BWu5jVZVIqL6G8Ve\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":360,"y":140,"wires":[["be6d46c5.9b5198"]]},{"id":"be6d46c5.9b5198","type":"http request","z":"5ae64b65.e5bff4","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":490,"y":180,"wires":[["6af2947a.d8ab3c"]]},{"id":"6af2947a.d8ab3c","type":"function","z":"5ae64b65.e5bff4","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"0aec3980-078d-42e0-b2c6-f9fc86b9f132\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\n\n\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":['Year', 'Status', 'Adult Mortality', 'Infant deaths', 'Alcohol',\n       'Healthcare expenditure', 'Hepatitis B', 'Measles', 'BMI',\n       'Under-five deaths', 'Polio', 'Total expenditure', 'Diphtheria',\n       'HIV/AIDS', 'GDP', 'Population', 'Thinness 1-19 years',\n       'Thinness 5-9 years', 'Income', 'Schooling'],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":330,"y":260,"wires":[["64140161.b35f1"]]},{"id":"64140161.b35f1","type":"http request","z":"5ae64b65.e5bff4","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v3/wml_instances/0aec3980-078d-42e0-b2c6-f9fc86b9f132/deployments/df77fa03-d5ad-4bab-94b7-a36836e360a7/online","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":280,"wires":[["b017b97e.323e58","3ba0fbe0.0ab2d4"]]},{"id":"b017b97e.323e58","type":"debug","z":"5ae64b65.e5bff4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":300,"wires":[]},{"id":"3ba0fbe0.0ab2d4","type":"function","z":"5ae64b65.e5bff4","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":400,"wires":[["506071e.5cfac9","4780aef3.051a1"]]},{"id":"506071e.5cfac9","type":"debug","z":"5ae64b65.e5bff4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":400,"wires":[]},{"id":"4780aef3.051a1","type":"ui_text","z":"5ae64b65.e5bff4","group":"1dcfd6d2.d67999","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":820,"y":520,"wires":[]},{"id":"1dcfd6d2.d67999","type":"ui_group","z":"","name":"Default","tab":"1697faa4.65f105","order":1,"disp":true,"width":"6","collapse":false},{"id":"1697faa4.65f105","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]